fieldset,
button,
input {
  all: unset;
}

form {
  & fieldset {
    width: 100%;
    display: flex;
    gap: 1.6rem;

    margin-block: 4.4rem 4rem;

    & input[name="item"] {
      flex-grow: 1;

      border: none;
      border-radius: 1.2rem;
      outline: 2px solid var(--border-primary);

      padding: 1.2rem 1.6rem;
      background-color: var(--background-secondary);

      &:hover,
      &:focus-within {
        outline-color: var(--border-hover);
      }

      &:focus-within {
        outline-color: var(--color-brand);
      }
    }

    & button {
      padding: 1.2rem 2.4rem;
      border-radius: 1.2rem;
      background-color: var(--color-brand);
      color: var(--always-white);
      font: var(--label);
      cursor: pointer;

      transition: background-color 0.3s;

      &:hover,
      &:focus {
        background-color: var(--color-brand-hover);
      }
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 3.4rem;

  & li {
    display: flex;
    align-items: center;

    border-radius: 1.2rem;
    background-color: var(--always-white);
    padding: 1.2rem;

    & > div {
      flex-grow: 1;

      position: relative;
      display: flex;
      align-items: center;

      & [type="checkbox"] {
        position: absolute;
        inset: 0;
      }

      & .checkbox-image {
        background: url(../assets/icons/checkbox-default.svg) no-repeat;

        position: relative;
        top: 4px;

        flex: 0 0 2.4rem;
        height: 2.4rem;
      }

      &:focus-within,
      &:hover {
        .checkbox-image {
          background: url(../assets/icons/checkbox-hover.svg) no-repeat;
        }
      }

      &:has(:checked) {
        .checkbox-image {
          background: url(../assets/icons/checkbox-selected.svg) no-repeat;
        }
      }
    }

    & #delete-item {
      cursor: pointer;
    }

    & #delete-item:hover path {
      stroke: var(--color-danger);
    }
  }
}

main > div {
  margin-bottom: 4rem;

  & p {
    border-radius: 1.2rem;
    padding: 1.2rem;
    background-color: var(--color-danger);
    color: var(--always-white);
    font: var(--label);

    display: flex;
    justify-content: space-between;

    & span {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
  }
}

@media (width <= 510px) {
  fieldset {
    flex-direction: column;

    & button {
      text-align: center;
    }
  }
}
